<div class="jumbotron">

<h1>Welcome to ImagePick </h1>

<%= link_to "LogIN" , new_user_session_path , class: 'btn btn-primary' %>
<%= link_to "SignUP" , new_user_registration_path , class: 'btn btn-primary' %>


</div>
