<div class="panel panel-default">
    <div class="panel-heading"><h1>Editing Picks</h1></div>
    <div class="panel-body">
	
	<%= render 'form' %>
    </div>
    
    <div class="panel-footer">

	<%= link_to 'Show', @pick , class: 'btn btn-warning' %> 
	<%= link_to 'Back', picks_path, class: 'btn btn-warning' %>

    </div>
</div>
