<div class="panel panel-default">
    <div class="panel-heading"><h1>New Pick</h1></div>
    <div class="panel-body">

	<%= render 'form' %>
    </div>

	<div class="panel-footer"><%= link_to 'Back', picks_path , class: 'btn btn-warning'%> </div>

</div>
